.table tbody {
  border: none !important;
}

.game-info {
  font-size: 11px;
}

.clock {
}

.down-and-distance, .yardline {
  margin-left: 18px;
}

.team-score:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.team-score .pick-count {
  font-size: 9px;
  text-transform: uppercase;
}

.team-pick {
  font-size: 11px;
}

.logo {
  width: 40px;
}

.logo img { 
  width: 40px;
}

.fa-football-ball {
  font-size: 10px;
  margin-left: 6px;
}
